<h1>Malotes</h1>

<table border="1" *ngIf="malotes$ | async as malotes; else carregando">
  <thead>
    <tr>
      <th>Funcionário</th>
      <th>Matrícula</th>
      <th>Data Envio</th>
      <th>Situação</th>
      <th>Descrição</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let malote of malotes">
      <td>{{ malote.nomeFuncionario }}</td>
      <td>{{ malote.matricula }}</td>
      <td>{{ malote.dataEnvio }}</td>
      <td>{{ malote.situacaoMalote }}</td>
      <td>{{ malote.descricaoSituacao }}</td>
    </tr>
  </tbody>
</table>

<ng-template #carregando>
  <p>Carregando malotes...</p>
</ng-template>
